button {
    height: 100px;
    width: 100%;
}
div{
    margin: 20px;
}

h1{
    text-align: center;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
}